<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cn.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:label="@string/title_register" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_main" />

        <activity
            android:name=".ui.shop.ShopDetailActivity"
            android:label="@string/title_shop_detail" />

        <activity
            android:name=".ui.discover.DiscoverActivity"
            android:label="@string/title_discover" />

        <activity
            android:name=".ui.shop.ShopListActivity"
            android:label="@string/title_shop_list" />

        <activity
            android:name=".ui.market.FoodMarketActivity"
            android:label="@string/title_market" />

        <activity
            android:name=".ui.shop.admin.AdminDashboardActivity"
            android:label="@string/admin_dashboard_title" />

        <activity
            android:name=".ui.shop.admin.AdminFoodListActivity"
            android:label="@string/admin_manage_foods" />

        <activity
            android:name=".ui.shop.admin.ShopEditActivity"
            android:label="@string/admin_edit_shop" />

        <activity
            android:name=".ui.shop.admin.FoodEditActivity"
            android:label="@string/admin_edit_food" />

        <activity
            android:name=".ui.food.FoodDetailActivity"
            android:label="@string/title_food_detail" />

        <activity
            android:name=".ui.entry.FlashSaleActivity"
            android:label="@string/flash_sale_title" />

        <activity
            android:name=".ui.entry.MemberCenterActivity"
            android:label="@string/member_center_title" />

        <activity
            android:name=".ui.entry.CouponCenterActivity"
            android:label="@string/coupon_center_title" />

        <activity
            android:name=".ui.entry.PointsCenterActivity"
            android:label="@string/points_center_title" />

        <activity
            android:name=".ui.entry.ServiceHelpActivity"
            android:label="@string/service_help_title" />

        <activity
            android:name=".ui.entry.SettingsActivity"
            android:label="@string/user_action_settings" />

        <activity
            android:name=".ui.address.AddressListActivity"
            android:label="@string/address_manage_title" />

        <activity
            android:name=".ui.address.AddressEditActivity"
            android:label="@string/address_edit_title" />

        <activity
            android:name=".ui.entry.FavoritesActivity"
            android:label="@string/favorites_title" />

        <activity
            android:name=".ui.entry.HistoryActivity"
            android:label="@string/history_title" />

        <activity
            android:name=".ui.cart.CartActivity"
            android:label="@string/title_cart" />

        <activity
            android:name=".ui.order.OrderConfirmActivity"
            android:label="@string/title_order_confirm" />

        <activity
            android:name=".ui.order.CheckoutActivity"
            android:label="@string/title_order_confirm" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
